
html, body {
    max-width: 100%;
    overflow-x: hidden;
    
    
  }


 .navbar-toggler-icon
 {
     margin-left: 10px;
 }
::-webkit-scrollbar{
    display: none;
}


.main
{
    overflow: auto;
    padding-bottom: 100px;
}
a{
    text-decoration: none;
}

.col1
{
    margin-top: 120px;
}

.col2
{
    margin-top: -420px;
    margin-left:450px ;
}
.card1
{
    position: relative;
    margin-left: 450px;
    top: -465px;
    background-color: rgb(56, 138, 231) ;
    width: 18rem;
    height: max-content;

}

.card2
{  
    position: relative;
    margin-left: 450px;
    top: -463px;
    background-color: rgb(56, 138, 231) ;
    width: 18rem;
    height: max-content;
}

.card3
{
    position: relative;
    margin-left: 450px;
    top: -461px;
    background-color: rgb(56, 138, 231) ;
    width: 18rem;
    height: max-content;
}

.card4
{
    position: relative;
    margin-left: 450px;
    top: -458px;
    background-color: rgb(56, 138, 231) ;
    width: 18rem;
    height: max-content;
}
.card-header
{
    font-family:  'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: x-large;
    font-weight: lighter;
}
.list-group-item 
{
    background-color: rgb(56, 138, 231) ;
   
}

.list-group-item a{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size:16px ;

}
.greaterThan 
{
    text-decoration: none; 
    
    color: whitesmoke;
}

.element1, .element2, .element3, .element4, .element5, .element6 {

    width: 200px;
    height:120px;
    border-style:solid;
    border-color: rgb(56, 138, 231);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 25px 28px;

    border-top-right-radius: 5px;
    clip:rect(20px);
  }
 
  .element1
  {
    margin-top: 25px; 
  }
  .element2
  {
      margin-left: 250px;
     margin-top: -125px;
  }

  .element3
  {
     margin-top: 15px;
  }
  .element4
  {
      margin-left: 250px;
     margin-top: -123px;
  }
  .element5
  {
    margin-top: 15px;
  }
  .element6
  {
      margin-left: 250px;
     margin-top: -123px;
  }


  .sthtext
  {
      margin-left: 20px;
      margin-top: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        color:rgb(56, 138, 231) ;
  }

  .bi-arrow-right
  {
      position: relative;
      margin-left: 20px;
      margin-top: 28px;
      color:rgb(56, 138, 231) ;
      
  }
.headingText
{
    margin-top: 225px;
    
    color:rgb(29, 108, 212);
    font-size: 5pc;
    font-weight: 100;
}

.randomText
{
    color:rgb(82, 145, 226);
    font-size: 16px;
    font-weight: 500;
}

.carousel-indicators
{
    z-index: 100;
    transform: translateX(-50%)  translateY(60%);
    
}


.slnav .navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;

    color:aliceblue;
}
.btn
{
    margin-left: -950px;
    margin-top: 35px;
    background-color: aliceblue;
    border:aliceblue;
    color:rgb(44, 120, 235);
    font-weight: bold;
}

.nav-item 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.carousel 
{
   z-index: -100;
   transition: 1s opacity;
}
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            display: none;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

  .carousel-control-prev-icon 
  {
      margin-bottom: 90px;
      width: 50px;
      height: 50px;
  }
      
  .carousel-control-next-icon
  {
      margin-bottom: 90px;
      width: 50px;
      height: 50px;
  }
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

img.LOGO 
{
    position: relative;
    margin-left: 30px;
    margin-top: 3px;
    
    /* width: 100%; */
    max-width: 150%;
    height: auto;
    

}

 img.textimg
{
    position: relative;
    margin-left: 430px;
    margin-top: -5px;
    /* width:100%; */
    max-width: 60%;
    height: auto;
}

.row2 
{
    margin-top: -480px;
}

.row2 .col1
{
    position: relative;
}
.row2heading
{
    color:rgb(37, 108, 201);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.row2img
{
    margin-top: 25px;
}

.textrow2
{
    margin-top: 30px;
    color:rgb(82, 145, 226);
    font-weight: 500;

}

.row2btn
{
    position: relative;
    padding: 3px 18px 3px 18px;
    border-radius: 5px;
    background-color: aliceblue;
    border: solid rgb(44, 120, 235);
    color:rgb(44, 120, 235);
    font-weight:600;
    font-size: small;
}



.row2 .col2
{
    position: relative;
    top: -140px;
    margin-left:780px ;
}

.col2heading
{
    color:rgb(37, 108, 201);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.bi-check-circle
{
    position: relative;
    margin-top: 20px;
    color:rgb(44, 120, 235) ;
   
}

@media (max-width:535px)
{

   

    .row2 .col1
    {
        position: relative;
        margin-top:130px;
        margin-left: 25px;
    }
    .row2 .col2
    {
        position: relative;
        margin-left: 35px;
    }

    .row1 .col1
    {
        position: relative;
        top:-100px;
        
    }

    
    .element1, .element2, .element3, .element4, .element5, .element6 
    {
        position: relative;
        margin: auto;
        margin-top: 18px;
        left:20px;
        margin-bottom:10px ;
        height: auto;
        width: 120px;
        
    }

    .sthtext
    {
        margin: auto;
        margin-left:10px;
        margin-top:10px ;
        font-size:x-small;

    }


    .headingText
    {
        margin: auto;
        margin-left: 25px;
        font-size:xx-large;

    }
    .randomText
    {
        position: relative;
        margin: auto;
        left:20px;
        font-size: 12px;
    }
    .row1 .col2{
        margin: auto;
        margin-top: -180px;
        margin-left: 320px;
    }
         
    
    .list-group-item
        {
            font-size:x-small ;
        }
        .greaterThan 
        {
        
            display:none;
        }


        .linkss1
    {
        position: relative;
        top: 20px;
        font-size:10px;
        left:60px;
        
       
    }

    .linkss2
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        left: 60px;
        
    }

    .linkss3
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        left:15px;
    }

}


@media screen and (max-width:600px) {

   span.logoText
    {
        position: relative;
        font-size:10px;
        margin-left:-25px;
        
    }
    span.logoText2
    {
        position: relative;
        font-size: 10px;;
        margin-left:-5px ;
    }
    .hedingAn
    {
        position: relative;
        top: 5px;
        left:-45px;
        font-size: 12px;
        

    }

    .hedingKon
    {
        position: relative;
        top: 5px;
        left:-25px;
        font-size: 12px;
    }


    .linkss1
    {
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left: -65px;
        
       
    }

    .linkss2
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left: 2px;
        
    }

    .linkss3
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left:2px;
    }
    .Anthing
    {
        position: relative;
        margin: auto;
        top: 25px;
        margin-left: -105px;
        font-size:x-small;
        
    }
    .KonThing
    {
        position: relative;
        margin: auto;
        top: 25px;
        margin-left: -75px;
        padding: auto;
        font-size:10px;
    }
    .botlikha
    {
        position: relative;
        left: -25px;
        top: 2px;
        font-size: 12px;
    }
    .row2 .col1
    {
        position: relative;
        top:-65px;
    }

    

    .row2 .col2
    {
        position: relative;
        top: -60px;
        margin:auto;
        margin-top: 10px;

        
    }
    .row2 .col2 h6
    {
        font-size: 18px;
    }

    .row2 .col1 p{

        margin-top: -25px;
        font-size: 12px;

    }

    .row2img
    {
        margin-top: -4px;
        width: 300px;
        height: auto;
    }

    .row2heading
    {
        
        font-size:20px;
    }

    .col2heading
    {
        margin: auto;
        font-size:20px;
        margin-left: 15px;
    }

    .row2 .col2 p
    {
        font-size: 12px;
        margin: auto;
        
    }


    img.textimg{
        position: relative;
        margin-left:50px;
        margin-top:10px ;
        margin: auto;
        padding:auto;

    }
    img.LOGO {
        position: relative;
        margin: auto;
        margin-left: 30px;

    }
    .element1, .element2, .element3, .element4, .element5, .element6 
    {
        margin: auto;
        margin-top: 18px;
        margin-left:30px;
        margin-bottom:10px ;
        height: auto;
        width: 120px;
        
    }

    .sthtext
    {
        margin: auto;
        margin-left:10px;
        margin-top:10px ;
        font-size:x-small;

    }

    .headingText
    {
        margin: auto;
        font-size:xx-large;

    }
    .randomText
    {
        margin: auto;
        margin-left: -20px;
        font-size: 12px;
    }
    
    
    .card1
    {
        position: relative;
        margin: auto;
        margin-left: -90px;
        margin-top: 28px;
        
        width: 10rem;
        height: max-content;
    }

    .card2
    {  
        position: relative;
        margin: auto;
        margin-left: -90px;
        width: 10rem;
        height: max-content;
        top: -463px;
        
    }

    .card3
    {
        position: relative;
        margin: auto;
        top: -461px;
        margin-left: -90px;
        width: 10rem;
        height: max-content;
    }

    .card4
    {
        position: relative;
        margin: auto;
        top: -458px;
        margin-left: -90px;
        width: 10rem;
        height: max-content;
    }

        .list-group-item
        {
            font-size:x-small ;
        }
        .greaterThan 
        {
        
            display:none;
        }
}


    

@media screen and (min-width:601px )and (max-width:770px) {

    .hedingAn
    {
        position: relative;
        top: 5px;
        left:-45px;
        font-size: 16px;
        

    }

    .hedingKon
    {
        position: relative;
        top: 5px;
        left:-25px;
        font-size: 16px;
    }


    .linkss1
    {
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left: -65px;
        
       
    }

    .linkss2
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left: 2px;
        
    }

    .linkss3
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left:2px;
    }
    .Anthing
    {
        position: relative;
        margin: auto;
        top: 25px;
        margin-left: -105px;
        font-size:12px;
        
    }
    .KonThing
    {
        position: relative;
        margin: auto;
        top: 25px;
        margin-left: -75px;
        padding: auto;
        font-size:12px;
    }

    .element1, .element2, .element3, .element4, .element5, .element6 
    {
        margin: auto;
        margin-top: 25px;
        margin-left:30px;
        margin-bottom:10px ;
        height: auto;
        width: 180px;
        
    }

    .sthtext
    {
        margin: auto;
        margin-left:10px;
        margin-top:10px ;
        font-size: 15px;;

    }

    .row1 .col1{
        margin-top: 45px;
        margin-left: -15px;
    }
    .headingText
    {
        margin: auto;
       margin-left: -35px;
        font-size:38px;

    }
    .randomText
    {
        margin: auto;
        margin-left: -35px;
        font-size: 14px;
    }

    
   
    .row2 .col1
    {
        position: relative;
        top:55px;
    }

    

    .row2 .col2
    {
        
        margin:auto;
        margin-top: 250px;

        
    }
    .row2 .col2 h6
    {
        font-size: 18px;
    }

    .row2 .col1 p{

        margin-top: -25px;
        font-size: 12px;

    }

    .row2img
    {
        margin-top: -4px;
        width: 300px;
        height: auto;
    }

    .row2heading
    {
        
        font-size:20px;
    }

    .col2heading
    {
        margin: auto;
        font-size:20px;
        margin-left: 15px;
    }

    .row2 .col2 p
    {
        font-size: 12px;
        margin: auto;
        
    }

    .row1 .col2
    {
        margin-top: -500px;
    }
    
    .card1
    {
        position: relative;
        margin: auto;
        margin-left: -40px;
        margin-top: 28px;
        
        width: 10rem;
        height: max-content;
    }

    .card2
    {  
        position: relative;
        margin: auto;
        margin-left: -40px;
        width: 10rem;
        height: max-content;
        top: -463px;
        
    }

    .card3
    {
        position: relative;
        margin: auto;
    
        top: -461px;
        margin-left: -40px;
        width: 10rem;
        height: max-content;
    }

    .card4
    {
        position: relative;
        margin: auto;
        top: -458px;
        margin-left: -40px;
        width: 10rem;
        height: max-content;
    }

        .list-group-item
        {
            font-size:x-small ;
        }
        .greaterThan 
        {
        
            display:none;
        }
    

    img.textimg{
        position: relative;
        margin-left: auto;

    }
    img.LOGO {
        position: relative;
        margin: auto;
        margin-left: 30px;

    }

    
}

@media screen and (min-width:771px) and (max-width:990px) {

    
    .row1 .col2
    {
        margin-top: -500px;
    }

    .card1
    {
        position: relative;
        margin: auto;
        /* margin-left: -40px; */
        margin-top: 28px;
        
        width: 14rem;
        height: max-content;
    }

    .card2
    {  
        position: relative;
        margin: auto;
        /* margin-left: -40px; */
        width: 14rem;
        height: max-content;
        top: -463px;
        
    }

    .card3
    {
        position: relative;
        margin: auto;
    
        top: -461px;
        /* margin-left: -40px; */
        width: 14rem;
        height: max-content;
    }

    .card4
    {
        position: relative;
        margin: auto;
        top: -458px;
        /* margin-left: -40px; */
        width: 14rem;
        height: max-content;
    }

        .list-group-item
        {
            font-size:x-small ;
        }
        .greaterThan 
        {
        
            display:none;
        }
    

    .row2 .col1
    {
        margin-top: 55px;
    }

    

    .row2 .col2
    {
        
        margin:auto;
        margin-top: 550px;

        
    }
    .row2 .col2 h6
    {
        font-size: 18px;
    }

    .row2 .col1 p{

        margin-top: -25px;
        font-size: 12px;

    }

    .row2img
    {
        margin-top: -4px;
        width: 300px;
        height: auto;
    }

    .row2heading
    {
        
        font-size:20px;
    }

    .col2heading
    {
        margin: auto;
        font-size:20px;
        margin-left: 15px;
    }

    .row2 .col2 p
    {
        font-size: 12px;
        margin: auto;
        
    }

   
    .hedingAn
    {
        position: relative;
        top: 5px;
        left:-45px;
        font-size: 16px;
        

    }

    .hedingKon
    {
        position: relative;
        top: 5px;
        left:-25px;
        font-size: 16px;
    }


    .linkss1
    {
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left: -65px;
        
       
    }

    .linkss2
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left: 2px;
        
    }

    .linkss3
    {
        
        position: relative;
        top: 20px;
        font-size:10px;
        margin-left:2px;
    }
    .Anthing
    {
        position: relative;
        margin: auto;
        top: 25px;
        margin-left: -105px;
        font-size:12px;
        
    }
    .KonThing
    {
        position: relative;
        margin: auto;
        top: 25px;
        margin-left: -75px;
        padding: auto;
        font-size:12px;
    }

    .row1 .col1{
        margin-top: 45px;
        margin-left: 15px;
    }

    .element1, .element2, .element3, .element4, .element5, .element6 
    {
        margin: auto;
        margin-top: 25px;
        margin-left:10px;
        margin-bottom:10px ;
        height: auto;
        width: 180px;
        
    }

    .sthtext
    {
        margin: auto;
        margin-left:10px;
        margin-top:10px ;
        font-size: 15px;;

    }

    
    .headingText
    {
        margin: auto;
       margin-left: -35px;
        font-size:38px;

    }
    .randomText
    {
        margin: auto;
        margin-left: -35px;
        font-size: 14px;
    }

    img.textimg{
        position: relative;
        margin-left: auto;
        

    }
    img.LOGO {
        position: relative;
        margin: auto;
        margin-left: 30px;

    }

    
}



@media (max-width:1260px)
{
  
}
@media (max-width:767px)
{
  
}
/* .list-group-item a.botThing
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
} */
/* .list-group-item a.botThing
{
  display:inline-block;
  margin-bottom:4px
} */



@media (max-width:767px)
{
  
}
#footerImageId{
    object-fit: cover;
    height: 250px;
}